@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&family=Montserrat:wght@400;500&family=Poppins:wght@300;400;700&display=swap');

body{
    font-family:'poppins', sans-serif;
    background: rgb(170, 169, 169);
    padding: 0;
    text-transform: capitalize;
    max-width: 900px;
    text-align: center;
    margin: auto;
}
a{
    text-decoration: line-through;
    color: white
}
#title{
    font-size: 46px;
    font-family: 'Cinzel', serif;
}
#title, .subtitle{
    color: black;
}
.photo{
    border: 2px solid white;
    border-radius: 50px;
}
.postitle{
    font-size: 16px;
    font-style: italic;
}
.post{
    background: rgba(0, 0, 0, 0.685);
    color: #fff;
    padding: 10px;
    border: 2px solid #0000007a;
    border-radius: 5px;
    margin: 10px;
}
.post-content{
    margin-bottom: 15px;
    text-align: justify;
}
.post-image{
  margin-bottom: 15px; 
  width: 100%;
}
.contact-list{
    list-style-type: none;
    padding: 0;
    padding-left: 25px;
}
.contact-list li a{
    text-decoration: none;
}